<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>History</title>

    <script src="js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--    <script src="js/bootstrap/bootstrap.js"></script>-->
    <script th:src="@{js/bootstrap/bootstrap.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!--     Navigation -->
    <th:block th:replace="header" :: header></th:block>


    <p></p>
    <br/>
    <br/>

    <div layout:fragment="content"></div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td style="word-break: break-all">ID</td>
            <td style="word-break: break-all">Short ID</td>
            <td style="word-break: break-all">Original URL</td>
            <td style="word-break: break-all">REG DATE</td>
            <td style="word-break: break-all">Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tasks.empty}">
            <td colspan="5">No tasks</td>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
<!--            <td><a href="view.html" th:href="@{'/' + ${task.id}}" th:text="${task.title}">Title ...</a></td>-->
            <td th:text="${task.shortUrl}"></td>
            <td th:text="${task.urlKey}"></td>
<!--            <td th:text="${#temporals.formatISO(task.regDate)}"></td>-->
            <td th:text="${#temporals.format(task.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><a th:href="@{'/delete/' + ${task.id}}"><button class="btn-dark btn-sm" onclick="return confirm('데이터를 삭제하시겠습니까?')">Delete</button></a></td>
        </tr>
        </tbody>
    </table>



</body>
</html>