<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>url shortening</title>
<head>
    <meta charset="utf-8">
<!--        <link rel="stylesheet" type="text/css" href="../static/style.css" />-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!--    <link rel="stylesheet" href="/WebContent/css/bootstrap.css">-->
    <title>url shortening</title>
</head>
<body>
<!--<th:block layout:fragment="content">-->
<!--<form action="#" th:action="@{/sUrl}" method="post"/>-->
<input type="text" th:name="url"/>
<button th:id="ajax1" type="submit">ENTER</button>
<!--</form>-->
<br/>
<br/>



<!--<div class="panel">-->
<!--    original URL : <p th:text="${longurl}" />-->
<!--    <br/>-->
<!--    shorten URL : <p th:id="surl"  th:text="${surl}" />-->
<!--</div>-->


<!-- The button used to copy the text -->
<button onclick="copyToClipboard()">Copy URL</button>
<br/><br/><input type="text" placeholder="Paste here for test" />

<script type="text/javascript">
    function copyToClipboard() {
        var $surl = $("#surl");
        alert($surl.text());
    }

<!-- Copy button End -->


    $('#ajax1').on('click', function () {
        // 버튼 여러번 클릭되지 않게 막기
        // if(!processScript){
        //     alert("처리중입니다.");
        //     return;
        // }

        console.log('=========');
        $.ajax({
            type: "POST",
            url: "/shortenUrl",
            data: { url : "https://truecode-95.tistory.com/158" //, shortURL : "shortenedUrl"
            },
            success: function (result) {
                console.log('Original URL: ', "localURL", '\n', 'Shorten URL: ', result);
            },
            error: function (request,status,error) {
                alert('Invalid URL. Please try again.')
                // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    });

    // function dataSend() {
    //     var data=$("#input").val();
    //     var messageDTO={
    //         result:data
    //     };
    //     $.ajax({
    //         url: "/shortenUrl",
    //         data: messageDTO,
    //         type:"POST",
    //     }).done(function (fragment) {
    //         $("#resultDiv").replaceWith(fragment);
    //     });
    // }
    //
    // function Ajax2() {
    //     var long = $("#longurl").val();
    //     var short = $("#surl").val();

    // }

</script>


<!--<script type="text/javascript" src="/WebContent/js/bootstrap.js"></script>-->
</body>
</html>

