<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<title>url shortening</title>
<head>
    <meta charset="utf-8">

<!--  캐시 사용 금지  -->
<!--    <meta http-equiv="Cache-Control" content="no-cache">-->
<!--    <meta http-equiv="Expires" content="0"/>-->

    <script src="js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
<!--    <script src="js/bootstrap/bootstrap.js"></script>-->
    <script th:src="@{js/bootstrap/bootstrap.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>url shortening</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="/css/bootstrap.css" />
</head>
<body>

<!-- Navigation -->
<th:block th:replace="header" :: header></th:block>

<!-- Masthead-->
<!--<header class="masthead text-center text-black">-->
<p>
    <br/>
    <br/>
    <br/><br/>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-black">
                    <h1 class="mb-5"></h1>
                    <!-- Page heading-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" th:id="url" type="text" th:name="url" placeholder="단축할 URL을 입력하세요" />
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg" id="ajax1" type="submit">Submit</button></div>
                        </div>
                        <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center text-black">
        <strong>Original URL:</strong> <p class="col-auto" id="orgurl"></p>
        <strong>Shortened URL:</strong> <p class="col-auto" id="surl"></p>
        <button type="button" id="copy-url" class="copy-url btn-dark btn-sm">URL 복사</button>
        <input type="hidden" id="copy-area" class="copy-area">
    </div>

<!--</header>-->
</p>

<br/>



<script type="text/javascript">

    // 'ajax1'라는 id를 가진 버튼 클릭 시 실행.
    $('#ajax1').on('click', function () {

        $.ajax({
            type: "POST",
            url: "/shortenUrl",
            data: { url : $("#url").val() },
            context: this,
            success: function (result) {

                $("#orgurl").text( $("#url").val() );
                $("#surl").text( result );
                $("#copy-area").val( result );


                // Reset text box
                $('#url').val('');
            },
            error: function () {
                alert('Invalid URL. Please try again.')
            }
        });
    });

    // 복사하기 버튼 클릭
    $('#copy-url').click(function() {

        // 화면에서 hidden 처리한 input box type을 text로 일시 변환
        $('#copy-area').attr('type', 'text');

        // input에 담긴 데이터를 선택
        $('#copy-area').select();

        console.log($("#copy-area").val());

        //  clipboard에 데이터 복사
        var copy = document.execCommand('copy');

        // input box를 다시 hidden 처리
        $('#copy-area').attr('type', 'hidden');

        // 사용자 알림
        if(copy) {
            // Empty box
            if ( $("#copy-area").val().length === 0 ) {
                alert("단축된 URL이 없습니다. 다시 시도해 주세요.");
            }
            else {
                alert("URL이 복사되었습니다.");
            }
        }
    });

</script>
</body>
</html>

